<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Es una pagina con formulario y una ventana de celular" />
    <meta name="keywords" content="sena, risaralda, lembo, gestion, agricola, campecino, produtos, cultivos," />
    <meta name="author" content="Aprendiz: Erick Ramirez, Aprendiz Aprendiz:Sanchez Hernandez, Aprendiz:Estefani Acevedo" />
    <meta http-equiv="Content-Language" content="es" />

    <link rel="stylesheet" href="../Css/3-visualizar-insumo.css">
    <title>Visualización de Insumos</title>
  </head>
  <body>
    <!-- ******************  Titulo principal  ****************  -->
    <header class="ciclo_tittle">
      <spam>SENA SEDE LEMBO</spam>
      <a href="/SGL CODE/sgal main (sanchez)/index_main.html">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="icon-tabler-home">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
          <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
          <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
        </svg>
      </a>
    </header>

    <!-- ******************  inicio cicloLeft ****************  -->
    <aside class="cicloLeft">
      <section class="cardLeft__container">
        <img class="cicloLeft__logoSena" src="/SGL CODE/img/LOGOS SENA/LOGOS SENA/logo-sena-verde-complementario-svg-2022.svg" alt="Imagen de Logo Sena" />
        <img class="cicloLeft__imageMovil" src="/SGL CODE/img/movil01.png" alt="Imagen de celular cuadros" />
        <img class="cicloLeft__logoSgal" src="/SGL CODE/img/LogoSgal.png" alt="Imagen de Logo Sgal" />
      </section>
    </aside>
    <!-- ******************  fin cicloLeft ****************  -->

    <main class="cicloRight">
      <fieldset class="cardRight__container">
        <h3>VISUALIZAR INSUMO</h3>
        <form class="cicloRight__form">
          <div class="ciclo__data-general">
            <label class="label" for="">Id Insumo</label>
            <input class="insumo__id" placeholder="ID del Insumo" type="number" />
          </div>
          <div class="ciclo__data-general">
            <label class="label" for="">Tipo de Insumo</label>
            <input class="insumo__tipo" placeholder="Tipo de Insumo" type="text" />
          </div>
          <div class="ciclo__data-general">
            <label class="label" for="">Nombre del Insumo</label>
            <input class="insumo__nombre" placeholder="Nombre del Insumo" type="text" />
          </div>
          <div class="ciclo__data-general">
            <label class="label" for="">Cantidad</label>
            <input class="insumo__cantidad" placeholder="Cantidad del Insumo" type="number" />
          </div>
          <div class="ciclo__data-general">
            <label class="label" for="">Unidad de Medida</label>
            <input class="insumo__unidad" placeholder="Unidad de Medida" type="number" />
          </div>
          <div class="ciclo__data-general">
            <label class="label" for="">Valor Unitario</label>
            <input class="insumo__valorUnitario" placeholder="Valor Unitario" type="number" />
          </div>
          <div class="ciclo__data-general">
            <label class="label" for="">Valor Total</label>
            <input class="insumo__valorTotal" placeholder="Valor Total" type="number" />
          </div>
          <div class="ciclo__data-general">
            <label class="label" for="">Descripción</label>
            <input class="insumo__descripcion" placeholder="Descripción del Insumo" type="text" />
          </div>
          <!-- BOTON INDICADOR CAMBIO DE COLOR ESTADO  -->
          <div class="ciclo__data-general">
            <p class="insumo__toggle-title">Habilitado/Deshabilitado:</p>
            <input class="insumo__estado" type="checkbox" id="boton" disabled/>
            <label class="insumo__labelChange" for="boton"></label>
          </div>
          <div class="botones">
            <button class="button" type="submit">
              ACTUALIZAR
            </button>
          </div>
        </form>
        <div class="baseform">
          <a href="#"> </a>
        </div>
      </fieldset>
      <!-- fin de form -->
      <svg class="CardRight__svg" width="48" height="48" viewBox="0 0 26 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23 34.7746L11 18.9694L23 3.16406M3 3.16406V34.7746" stroke="#00304D" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </main>
    <script>
      fetch("/SGL CODE/Estandarizacion/config.json")
          .then(result => result.json())
          .then(data =>{
              // Crea un elemento script
              const script = document.createElement("script")
              // Asignamos la ruta del script
              script.src = data.validar13;
              // Indica que el script solo se ejecuta cuando el HTML se haya cargado
              script.defer = true;
              // Ponemos el script en el head para que entienda donde va
              document.head.appendChild(script);
          })
          .catch(error => console.log('Error al cargar script'))
    </script>
  </body>
</html>
