<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ESTANDAR_MODAL_TIPO4.css">
    <link rel="stylesheet" href="../root.css">
    <title>Plantilla Modal Tipo 4</title>
</head>
<body>
    <div class="contenedor">
        <header>
            <h1>
                GUARDAR DOCUMENTO
            </h1>
        </header>
        <main>
            <div class="contenido">
                <h2>Ruta imagen * excel</h2>
                <input type="text" placeholder="Nombre del archivo" class="input">
            </div>
            

        </main>
        <a href="" class="botton">Guardar</a>
        <footer></footer>
    </div><!--contenedor-->
</body>
</html>