<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ESTANDAR TIPO 3</title>
    <link rel="stylesheet" href="root.css">
    <link rel="stylesheet" href="/SGL CODE/Estandarizacion/Plantillas/ESTANDAR_TIPO3.css" />
    <link rel="stylesheet" href="menu.css">
  </head>
  <body>

    <div class="container-general-azul">
      <div class="sidebar">
       
        <div class="contenedor_usuario">
          <div class="texto_usuario">
              <a href=""><p class="texto">Santiago <br> Admin</p></a>
          </div><!--texto_usuario-->
              <a href=""><img src="/SGL CODE/img/imagen_foto_perfil_github.jpg" alt="Foto de perfil" class="foto_perfil"></a>
      </div><!--contenedor_usuario-->

         <!-- contenedor de menu e icono sena -->

         <nav class="menu">
          <div class="menu-section">
            <h3>Sensores</h3>
            <ul>
              <li><a href="#">Crear</a></li>
              <li><a href="#">Listar</a></li>
              <li><a href="#">Actualizar</a></li>
              <li><a href="#">Visualizar</a></li>
            </ul>
          </div>
          <div class="menu-section">
            <h3>Insumos</h3>
            <ul>
              <li><a href="#">Crear</a></li>
              <li><a href="#">Listar</a></li>
              <li><a href="#">Actualizar</a></li>
              <li><a href="#">Visualizar</a></li>
            </ul>
          </div>
          <div class="menu-section">
            <h3>Usuarios</h3>
            <ul>
              <li><a href="#">Crear</a></li>
              <li><a href="#">Listar</a></li>
              <li><a href="#">Actualizar</a></li>
              <li><a href="#">Visualizar</a></li>
            </ul>
          </div>
          <div class="menu-section">
            <h3>Configuración</h3>
            <ul>
              <li><a href="#">Datos Usuario</a></li>
              <li><a href="#">Control Cuenta</a></li>
            </ul>
          </div>
          <div class="menu-section">
            <h3><a href="#">Reportes</a></h3>
          </div>
          <div class="menu-section">
            <h3><a href="#">Cerrar Sesión</a></h3>
          </div>
        </nav>

         <!-- fin contenedor de menu e icono sena -->

        <div class="contenedor-sena">
          <img
            class="ico-sena"
            src="/SGL CODE/img/LOGOS SENA/LOGOS SENA/logo-sena-negro-png-2022.png"
            alt=""
          />
        </div>
      </div>
      <!-- fin contenedor de menu e icono sena -->

      <div class="container-general-gris">
        <div class="container-hoja-blanco">
          <div class="hoja">
            <header class="gris-top">
              <h2 class="head">TITULO REPORTE</h2>
            </header>

            <div class="contenido-reporte">
              <h3>Datos</h3>
              <hr class="linea" />
              <br />
              <p class="parrafo">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam
                ipsa, mollitia molestias vitae eveniet ut inventore sint rem
                autem vel, qui expedita quasi fugit aspernatur impedit ea
                cupiditate, libero enim?
              </p>
              <hr />
            </div>

            <footer class="gris-botton"></footer>
          </div>
          <!-- fin de hoja -->
          <div class="conteo-hoja">
            <span>
              <a class="conteo">1</a>
            </span>
            <span class="conteo">de</span>
            <span>
              <a class="conteo" href="">1</a>
            </span>
          </div>
        </div>
        <!-- enlace para volver -->
        <a class="ico-back" href=""> &lt; </a>
        <!-- fin contenedor blanco -->
      </div>

      <!-- fin contenedor general gris -->
    </div>
    <!-- fin contenedor genreal azul -->
  </body>
</html>
