<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estandarizacion Tipo 2</title>
    <link rel="stylesheet" href="/SGL CODE/Estandarizacion/Plantillas/ESTANDAR_TIPO_2.css">
</head>
<body>
    <main class="contenedor-azul"><!--contenedor-azul-->
        <div class="sidebar">
            <div class="contenedor_usuario">
                <div class="texto_usuario">
                    <a href=""><p class="texto">Santiago <br> Admin</p></a>
                </div><!--texto_usuario-->
                    <a href=""><img src="/SGL CODE/img/imagen_foto_perfil_github.jpg" alt="Foto de perfil" class="foto_perfil"></a>
            </div><!--contenedor_usuario-->
            <nav class="menu">
              <div class="menu-section">
                <h3>Sensores</h3>
                <ul>
                  <li><a href="#">Crear</a></li>
                  <li><a href="#">Listar</a></li>
                  <li><a href="#">Actualizar</a></li>
                  <li><a href="#">Visualizar</a></li>
                </ul>
              </div>
              <div class="menu-section">
                <h3>Insumos</h3>
                <ul>
                  <li><a href="#">Crear</a></li>
                  <li><a href="#">Listar</a></li>
                  <li><a href="#">Actualizar</a></li>
                  <li><a href="#">Visualizar</a></li>
                </ul>
              </div>
              <div class="menu-section">
                <h3>Usuarios</h3>
                <ul>
                  <li><a href="#">Crear</a></li>
                  <li><a href="#">Listar</a></li>
                  <li><a href="#">Actualizar</a></li>
                  <li><a href="#">Visualizar</a></li>
                </ul>
              </div>
              <div class="menu-section">
                <h3>Configuración</h3>
                <ul>
                  <li><a href="#">Datos Usuario</a></li>
                  <li><a href="#">Control Cuenta</a></li>
                </ul>
              </div>
              <div class="menu-section">
                <h3><a href="#">Reportes</a></h3>
              </div>
              <div class="menu-section">
                <h3><a href="#">Cerrar Sesión</a></h3>
              </div>
            </nav>
        </div>

        
        <div class="contenedor-gris"><!--contenedor-gris-->
            <div class="contenedor-blanco"><!--contenedor-blanco-->
                <header class="elementos"><!--elementos-->
                    <section class="encabezado"><!--encabezados-->
                        <div class="box">
                            <a href="#">Añadir</a>
                        </div>
                        <div class="box">
                            <a href="#">Borrar</a>
                        </div>
                        <div class="box">
                            <a href="#">Modificar</a>
                        </div>
                        <div class="box">
                            <a href="#">Listar</a>
                            <div class="icono"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#00304d"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-printer"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" /><path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" /><path d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z" /></svg></div>
                        </div>
                    </section><!--encabezados-->
                    
                    <section class="encabezado"><!--encabezados-->
                        <div class="box">
                            <label for=""><a href="#">Ordenar</a>
                                <select name="" id="">
                                    <option value=""></option>
                                </select>
                            </label>
                        </div>
                            <button class="button-buscar"><a href="#">Buscar</a></button>
                            <input type="text" name="text" id="text" placeholder="Texto">
                    </section><!--encabezados-->
                </header><!--elementos-->

                <table><!--tabla-de-contenido-->
                    <thead><!--cabezal-de-la-tabla-->
                        <tr><!--titulos-de-la-tabla-->
                            <td class="box-text1">Tipo de Usuario</td>
                            <td class="box-text">ID Usuario</td>
                            <td class="box-text">Nombre Completo</td>
                            <td class="box-text">Estado</td>
                            <td class="box-text">Imagen</td>
                        </tr><!--titulos-de-la-tabla-->
                    </thead><!--cabezal-de-la-tabla-->

                    <tbody><!--cuerpo-de-la-tabla-->
                        <tr><!--datos-del-cuerpo-->
                            <td class="box-datos1">Fila Datos</td>
                            <td class="box-datos">Fila Datos</td>
                            <td class="box-datos">Fila Datos</td>
                            <td class="box-datos">Fila Datos</td>
                            <td class="box-datos">Fila Datos</td>
                        </tr><!--datos-del-cuerpo-->
                    </tbody><!--cuerpo-de-la-tabla-->
                </table><!--tabla-de-contenido-->

            </div><!--contenedor-blanco-->
        </div><!--contenedor-gris-->
    </main><!--contenedor-azul-->
    
</body>
</html>