<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="menu.css">
  <link rel="stylesheet" href="../root.css">
  <title>Menú Lateral</title>
</head>
<body>
  <div class="sidebar">
    <div class="contenedor_usuario">
        <div class="texto_usuario">
            <a href=""><p class="texto">Santiago <br> Admin</p></a>
        </div><!--texto_usuario-->
            <a href=""><img src="/SGL CODE/img/imagen_foto_perfil_github.jpg" alt="Foto de perfil" class="foto_perfil"></a>
    </div><!--contenedor_usuario-->
    <nav class="menu">
      <div class="menu-section">
        <h3>Sensores</h3>
        <ul>
          <li><a href="#">Crear</a></li>
          <li><a href="#">Listar</a></li>
          <li><a href="#">Actualizar</a></li>
          <li><a href="#">Visualizar</a></li>
        </ul>
      </div>
      <div class="menu-section">
        <h3>Insumos</h3>
        <ul>
          <li><a href="#">Crear</a></li>
          <li><a href="#">Listar</a></li>
          <li><a href="#">Actualizar</a></li>
          <li><a href="#">Visualizar</a></li>
        </ul>
      </div>
      <div class="menu-section">
        <h3>Usuarios</h3>
        <ul>
          <li><a href="#">Crear</a></li>
          <li><a href="#">Listar</a></li>
          <li><a href="#">Actualizar</a></li>
          <li><a href="#">Visualizar</a></li>
        </ul>
      </div>
      <div class="menu-section">
        <h3>Configuración</h3>
        <ul>
          <li><a href="#">Datos Usuario</a></li>
          <li><a href="#">Control Cuenta</a></li>
        </ul>
      </div>
      <div class="menu-section">
        <h3><a href="#">Reportes</a></h3>
      </div>
      <div class="menu-section">
        <h3><a href="#">Cerrar Sesión</a></h3>
      </div>
    </nav>
  </div>
</body>
</html>
