<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Es una pagina con formulario y una ventana de celular" />
  <meta name="keywords" content="sena, risaralda, lembo, gestion, agricola, campecino, produtos, cultivos," />
  <meta name="author"
    content="Aprendiz: Erick Ramirez, Aprendiz Aprendiz:Sanchez Hernandez, Aprendiz:Estefani Acevedo" />
  <meta http-equiv="Content-Language" content="es" />
    <!-- CSS de Choices -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

    <!-- JS de Choices -->
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

    

  <link rel="stylesheet" href="../../public/css/styles-bem.css">

  <title>Actualizar Sensores</title>
</head>

<body>
  <!--   
  /* ****************************************************** */
  /* ***************    ELEMENTOS TITTLE    *************** */
  /* ****************************************************** */ -->

  <header class="cardtittle">
    <p class="cardtittle__text">SENA SEDE LEMBO</p>
    <a class="cardtittle__enlace" href="../index_main.html">
      <img class="cardtittle__svg-home" src="../../public/img_/svg/home.svg" alt>
    </a>

  </header>
  <!-- 
  /* ****************************************************** */
  /* *************    ELEMENTOS CARD LEFT    ************** */
  /* ****************************************************** */
  -->
  <aside class="cardleft">
    <section class="cardleft__container">
      <img class="cardleft__logo-sena" src="../../public/img_/svg_sena/logo-sena-verde-complementario-svg-2022.svg"
        alt="Imagen de Logo Sena" />

      <img class="cardleft__img" src="../../public/img_/left_side/movil01.png" alt="Imagen de celular  cuadros" />

      <img class="cardleft__logo-sgal" src="../../public/img_/left_side/LogoSgal.png" alt="Imagen de Logo Sgal" />
    </section>
  </aside>
  <!-- 
  /* ******************************************************* */
  /* ****************    CARD RIGHT BLOQUE   *************** */
  /* ******************************************************* */ 
  -->
  <main class="cardright">
    <form class="cardright__form cardright__form--top3">
      <p class="cardright__header-form">ACTUALIZAR SENSOR</p>

      <fieldset class="cardright__body-form">
        <div class="cardright__container-input">

          
          <div class="cardright__subcontainer-input">
            <label class="cardright__label-form" for="">ID Ciclo Cultivo</label>
            <select class="cardright__selectid" required>
                <option value="">Seleccione un ID de Ciclo</option>
                <!-- Opciones se agregarán dinámicamente -->
              </select> </div>

          <div class="cardright__subcontainer-input">
            <label class="cardright__label-form" for>Tipo de sensor</label>
            <input class="cardright__input-form" placeholder="Tipo de sensor" name="tipo_sensor" type="text"/>
          </div>


          <div class="cardright__subcontainer-input">
            <label class="cardright__label-form" for>Nombre del sensor</label>
            <input class="cardright__input-form" placeholder="Nombre del sensor" name="nombre_sensor" type="text"/>
          </div>

          <div class="cardright__subcontainer-input">
            <label class="cardright__label-form" for>Unidad de medida</label>
            
            <select class="cardright__input-form cardright__input-form--unit-sensor"  name="unidad_sensor" id="" required>
              <option class="cardright__input-opt" value="Unidad de medida">Unidad de medida:</option>
              <option class="cardright__input-opt" value="C">°C</option>
              <option class="cardright__input-opt" value="F">°F</option>
              <option class="cardright__input-opt" value="K">K</option>
            </select>
          </div>
          
          <div class="cardright__subcontainer-input">
            <label class="cardright__label-form" for>Tiempo escaneo</label>
            <input class="cardright__input-form cardright__input-form--time" name="tiempo_sensor" placeholder="Ej : 10" type="number" />
            <select class="cardright__input-form cardright__input-form--type-sensor"  name="unidad_tiempo_sensor" id="" required>
              <option class="cardright__input-opt" value="">Tiempo de escaneo en:</option>
              <option class="cardright__input-opt" value="Minutos">Minutos</option>
              <option class="cardright__input-opt" value="Segundos">Segundos</option>
              <option class="cardright__input-opt" value="Horas">Horas</option>
            </select>
            
          </div>

          <div class="cardright__subcontainer-input">
            <label class="cardright__label-form" for>Descripción</label>
            <input class="cardright__input-form" placeholder="Descripción del Cultivo" name="descripcion_sensor" type="text"/>
          </div>

          <!-- subtitulo si es necesario -->
          <p class="cardright__subtitittle-form">Imagen Sensor</p>

          <div class="cardright__subcontainer-input">
            <label class="cardright__label-form">Resolución max 150*150 px</label>
            <input class="cardright__input-form cardright__input-form--file" name="imagen_sensor" placeholder type="file"/>
          </div>
          <!-- BOTON INDICADOR CAMBIO DE COLOR ESTADO  -->
          <div class="cardright__subcontainer-input">
            <label class="cardright__label-form" for="boton">Habilitado/Deshabilitado:</label>
                  <!-- Checkbox sin atributo name -->
                  <input class="cardright__input-form--checkbox" type="checkbox" id="toggle-color" />
                  <label for="toggle-color" class="cardright__label-form--color"></label>
                                      
                  <!-- Campo oculto para enviar el valor -->
                  <input type="hidden" name="estado_sensor" id="estado_sensor_hidden" />
        
          </div>

          <button class="cardright__botton-primary" type="submit">GUARDAR</button>
        </div>
      </fieldset>

      <div class>
        <button class="cardright__botton-secundary" type="submit"><a href>CANCELAR</a></button>
      </div>

      <div class="cardright__foot-form">
        <p> CAPTURA DE ERRORES</p>
      </div>

    </form>
    <!-- fin de form -->

    <a class="cardright__footer" href="../index_main.html">
      <img class="cardright__svg-footer" src="../../public/img_/svg/control_back.svg" alt>
    </a>

  </main>
<script src="/frontend/js/sensor/actualizarSensor.js"></script>
<script src="/frontend/js/auth/session_auth.js"></script>
 <script src="/frontend/js/auth/session_auth.js"></script>
</body>

</html>