:root {
  /* color primario */
  /* colores principales */
  --primary-950: #39a900;
  --primary-400: #303030;
  --white: #fff;
  --black: #000;

  /* colores gris */
  --gray-950: #101010;
  --gray-900: #262626;
  --gray-850: #3b3b3b;
  --gray-700: #515151;
  --gray-600: #676767;
  --gray-500: #7d7d7d;
  --gray-400: #929292;
  --gray-300: #a8a8a8;
  --gray-200: #bebebe;
  --gray-100: #d4d4d4;
  --gray-050: #e9e9e9;

  /* colores ajustados en ia */

  /* Color primario */
  --primary-50: #edf7e8;
  --primary-100: #dbefb9;
  --primary-200: #c9e8b9;
  --primary-300: #b7e0a2;
  --primary-400: #a5d88b;
  --primary-500: #93d074;
  --primary-600: #81c85d;
  --primary-700: #6fc046;
  --primary-800: #5dd12e;
  --primary-900: #4bbd17;
  --primary-950: #39a900;

  /* Colores secundarios */
  /* Secundario 1 */
  --secundary-1-50: #e8ecef;
  --secundary-1-100: #d1dbdf;
  --secundary-1-200: #b9c7ce;
  --secundary-1-300: #a2b4be;
  --secundary-1-400: #8b9dd6;
  --secundary-1-500: #748e9e;
  --secundary-1-600: #5d7b8e;
  --secundary-1-700: #46687e;
  --secundary-1-800: #2e566d;
  --secundary-1-900: #17435d;
  --secundary-1-950: #00304d;

  /* Secundario 2 */
  --secundary-2-50: #f2ebf3;
  --secundary-2-100: #e5d8e7;
  --secundary-2-200: #d8c4db;
  --secundary-2-300: #cbb0cd;
  --secundary-2-400: #be9dc3;
  --secundary-2-500: #b289b6;
  --secundary-2-600: #a576aa;
  --secundary-2-700: #98629e;
  --secundary-2-800: #8b4e92;
  --secundary-2-900: #7e3b86;
  --secundary-2-950: #71277a;

  /* Secundario 3 */
  --secundary-3-50: #effdfe;
  --secundary-3-100: #dffafe;
  --secundary-3-200: #cfd0fd;
  --secundary-3-300: #bffafd;
  --secundary-3-400: #aff3fc;
  --secundary-3-500: #a0f1fc;
  --secundary-3-600: #90eef7;
  --secundary-3-700: #80eecf;
  --secundary-3-800: #70eafa;
  --secundary-3-900: #60e7fa;
  --secundary-3-950: #50e5f9;

  /* Secundario 4 */
  --secundary-4-50: #fff6e8;
  --secundary-4-100: #fff4d1;
  --secundary-4-200: #feefb9;
  --secundary-4-300: #fee9a2;
  --secundary-4-400: #fee48b;
  --secundary-4-500: #fede74;
  --secundary-4-600: #fedb5d;
  --secundary-4-700: #fed346;
  --secundary-4-800: #fdce2e;
  --secundary-4-900: #fdc817;
  --secundary-4-950: #fdc300;
  /* Colores neutros */
  --blanco: #ffffff;
  --negro: #000000;
  --gray-950: #313131;
  --gray-750: #626262;
  --gray-550: #949494;
  --gray-350: #c5c5c5;
  --gray-150: #f6f6f6;

  /* fuentes  */
  --font--main: Helvetica, Arial, sans-serif;
  /* TEXTOS Y CONTENIDO*/
  --font--logo: Helvetica, Arial, sans-serif;
  /* LOGOS Y ARTES */

  /* ********************************* */
  /* Botones primarios */

  /* Botones secundarios */
}

html {
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*,
::after {
  box-sizing: inherit;
}

/* ******************** */
/* ******************** */
/* codigo de pagina web */
/* ******************** */
/* ******************** */

body {
  font-size: 16px;
  font-family: var(--font--main);
  font-size: 16px;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  margin: 0 auto;
}

/* ****************  Titulo principal  ****************   */

 .ciclo_tittle {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: var(--font--main);
  font-weight: bold;
  font-size: 3.2rem;
  color: var(--primary-800);
  text-shadow: 0 0 2px #00ff00, 0 0 20px #00ff00;
}
.icon-tabler-home{
  color: var(--blanco);
  margin-left: 2rem;
}

/* *******************   MEDIA QUERY TITULO PRINCIPAL ****************** */

@media (min-width: 380px) {
  .header, .ciclo_tittle {
    position: absolute;
    top: 4%;
    left: 50%;
  }
}

@media (min-width: 768px) {
  .header, .ciclo_tittle {
    position: absolute;
    top: 6%;
    left: 60%;
  }
}

@media (min-width: 1280px) {
  .header, .ciclo_tittle {
    position: absolute;
    top: 8%;
    left: 60%;
  }
}

/* BEM */
/* ***************** ASIDE IZQUIDERO ***************** */

.cicloLeft {
  width: 20%;
  height: 100vh;
  background: linear-gradient(to bottom,
      var(--secundary-1-600),
      var(--gray-100));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardLeft__container, .cicloLeft__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 2rem;
}

.cardLeft__logoSena, .cicloLeft__logoSena {
  width: 10rem;
}

.cardLeft__imageMovil, .cicloLeft__logoMovil {
  width: 20rem;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cardLeft__logoSgal, .ciclo__logosgal {
  width: 10rem;
}

/* *****************  MEDIA QUERY LEFT****************** */

@media (min-width: 380px) {
  .cardLeft, .cicloLeft {
    display: none;
  }
}

@media (min-width: 768px) {
  .cardLeft, .cicloLeft {
    display: flex;
    flex-direction: column;
    min-width: 20%;
    height: auto;
  }

  .cardLeft__container, .cicloLeft__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .cardLeft__imageMovil, .cicloLeft__imageMovil {
    display: none;
  }

  .cardLeft__logoSena, .cicloLeft__logoSena {
    height: 7rem;
    width: 7rem;
    margin-bottom: 70rem;
    /*  para separarlo por que no hay imagen de celular */
  }

  .cardLeft__logoSgal, .cicloLeft__logoSgal {
    height: 8rem;
    width: 8rem;
    margin-bottom: 2rem;
    /*  para separarlo por que no hay imagen de celular */
  }
}

@media (min-width: 1280px) {
  .cardLeft, .cicloLeft {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;
  }

  .cardLeft__container, .cicloLeft__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .cardLeft__imageMovil, .cicloLeft__imageMovil {
    display: flex;
    width: 22rem;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .cardLeft__logoSena, .cicloLeft__logoSena {
    height: 9rem;
    width: 9rem;
    margin: 0rem;
  }

  .cardLeft__logoSgal, .cicloLeft__logoSgal {
    height: 9rem;
    width: 9rem;

  }
}

@media (min-width: 1920px) {
  .cardLeft__container, .cicloLeft__container {
    gap: 5rem;
  }

  .cardLeft__imageMovil, .cicloLeft__imageMovil {
    display: flex;
    width: 30rem;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .cardLeft__logoSena, .cicloLeft__logoSena {
    height: 10rem;
    width: 10rem;
  }

  .cardLeft__logoSgal, .cicloLeft__logoSgal {
    height: 10rem;
    width: 10rem;

  }
}

@media (min-width: 2560px) {
  .cardLeft__container, .cicloLeft__container {
    gap: 4rem;
  }
}

/* BEM */
/* ***************** MAIN RIGHT ***************** */

.cicloRight {
  /* colores */
  background-color: var(--secundary-1-950);
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

 
}

.cardRight__container, .cicloRight__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 1rem;
  /* tamaños */
  width: 40rem;
  height: auto;
  /* centrado */
  text-align: center;
  box-shadow: 0 4px 8px var(--black);
  /* posicion */
  position: fixed;
  top: 5%;
  margin-top: 3rem;
  padding: 0;
}

.cardRight__container h3, .cicloRight__container h3 {
  /* posicion */
  display: flex;
  margin: 0 auto;
  /* centrado */
  justify-content: center;
  align-items: center;
  /* colores */
  background-color: var(--gray-100);
  /* tamaños */
  border-radius: 1rem 1rem 0rem 0rem;
  /* bordes en sentido reloj. */
  height: 5rem;
  width: 100%;
  /* texto */
  color: var(--secundary-1-950);
  font-weight: bolder;
}

.cardRight__form, .cicloRight__form {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardRight__container img, .cicloRight__container img  {
  width: 16rem;
  height: 12rem;
  margin: 0.1rem;
  border-radius: 10rem;
}

.cardRight__form label, .cicloRight__form label {
  display: flex;
  font-size: 1.6rem;
  font-weight: 200;
  color: var(--black);
}

.cardRight__container input, .cicloRight__container input[type="text"],
.cardRight__container input, .cicloRight__container input [type="password"],
.cardRight__container input, .cicloRight__container input[type="email"],
.cardRight__container input, .cicloRight__container input[type="number"],
.cardRight__container input, .cicloRight__container input[type="tel"],
.cardRight__container input, .cicloRight__container input[type="url"],
.cardRight__container input, .cicloRight__container input[type="search"],
.cardRight__container input, .cicloRight__container input[type="date"],
/* .cardRight__container input[type="time"], */
/* .cardRight__container input[type="datetime-local"], */
/* .cardRight__container input[type="month"], */
/* .cardRight__container input[type="week"], */
/* .cardRight__container input[type="color"], */
.cardRight__container input, .cicloRight__container input[type="file"],
/* .cardRight__container input[type="checkbox"], */
/* .cardRight__container input[type="radio"], */
/* .cardRight__container input[type="range"], */
.cardRight__container input, .cicloRight__container input[type="submit"],
/* .cardRight__container input[type="reset"], */
.cardRight__container input, .cicloRight__container input[type="button"],
.ciclo__document, .ciclo__user
{
  font-size: 1.6rem;
  color: var(--gray-700);
  width: 32rem;
  padding: 1.6rem 2.4rem;
  margin: 0em;
  border: 0.1rem solid var(--blanco);
  border-radius: 1rem;
  /* campo circular */
  box-sizing: border-box;
  background-color: var(--gray-050);
}

label, .cicloRigh__label {
  margin: 0 auto;
  padding: 0rem 2.4rem;
}

.button, .cicloRigh__button {
  background-color: var(--secundary-1-800);
  width: 15rem;
  color: var(--white);
  padding: 1.6rem 2.4rem 1.6rem 2.4rem;
  border: none;
  border-radius: 2.4rem;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 1.2rem;
}

.cardRight__container a, .cicloRight__container a {
  color: var(--white);
  text-decoration: none;
}

.login-container a, .cicloRight__container a {
  display: block;
  margin-top: 10px;
  color: #0a3d62;
  text-decoration: none;
}

.baseform , .cicloRight__footform{
  position: relative;
  bottom: 0%;
  width: 100%;
}

.baseform a, .cicloRight__footform a {
  display: flex;

  /* colores */
  background-color: var(--gray-100);
  /* display */
  display: flex;
  /* posicionamiento */
  justify-content: center;
  align-items: center;
  /* tamaños */
  height: 3.6rem;
  border-radius: 0rem 0rem 1rem 1rem;
  /* fuente */
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray-600);
  text-decoration: none;
}

/* *****************  MEDIA QUERY RIGHT****************** */

@media (min-width: 380px) {
  .cardRight, .cicloRight {
    min-width: 100%;
    max-height: 100%;
    display: flex;
    overflow-y: auto;
    white-space: nowrap;
  }

  .cardRight__container, .cicloRight__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70%;
    height: auto;
    /* posicion */
    position: fixed;
    top: 5%;
    gap: 1rem;
  }
  .cardRight__form, .cicloRight__form {
    gap: 0.1rem;   /* funciona para el espacio entre inputs para media query 380  SOLO CON 8 INPUTS SI HAY MAS SE SALE DE LA PANTALLA */ 
  }
}

@media (min-width: 768px) {
  .cardRight, .cicloRight {
    display: flex;
    flex-direction: column;
    min-width: 80%;
    height: auto;
  }

  .cardRight__container, .cicloRight__container {
    display: flex;
    flex-direction: column;
    min-width: 60%;
    max-height: auto;
    /* posicion */
    position: fixed;
    top: 13%;
    gap: 1rem;
  }

  .dato , .cicloRight__dato{
    /*PENDIENTE BEM */
    padding: 0.2rem;
    margin: 0.2rem;
  }

}

@media (min-width: 1280px) {
  .cardRight, .cicloRight {
    min-width: 80%;
  }

  .cardRight__container, .cicloRight__container {
    min-width: 55%;
    display: flex;
    flex-direction: column;
    height: auto;
    /* posicion */
    position: fixed;
    top: 20%;
    gap: 1rem;
  }

}

@media (min-width: 1920px) {
  .cardRight__container, .cicloRight__container {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    height: auto;
    /* posicion */
    position: fixed;
    top: 28%;
    gap: 1rem;
  }
}

@media (min-width: 2560px) {
  .cardRight__container, .cicloRight__container {
    min-width: 30%;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    height: auto;
    /* posicion */
    position: fixed;
    top: 25%;
    gap: 1rem;

  }
}
/* js */
.error {
  
  background-color: rgb(197, 65, 65);
  text-align: center;
  padding: 1rem;
  color: var(--blanco);
  text-transform: uppercase;
  border-radius: 10px;
  } 
  
  .correcto {
  background-color: rgb(74, 185, 0);
  text-align: center;
  padding: 1rem;
  color: var(--blanco);
  text-transform: uppercase;
  }
  .error-message {
    display: block; /* ✅ Ahora se ubica debajo */
    color: var(--secundary-4-951);
    margin-right: 3.5vw;
  }
  
  @media (max-width: 1105px){
    .error-message {
   
      margin-right: 10vw;
    }
  }