<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Es una pagina con formulario y una ventana de celular" />
    <meta name="keywords" content="sena, risaralda, lembo, gestion, agricola, campecino, produtos, cultivos," />
    <meta name="author"
        content="Aprendiz: Erick Ramirez, Aprendiz Aprendiz:Sanchez Hernandez, Aprendiz:Estefani Acevedo" />
    <meta http-equiv="Content-Language" content="es" />

    <link rel="stylesheet" href="../../public/css/styles-bem.css">

    <title>Olvido su contraseña</title>
</head>


<body>
    <!--   
        /* ****************************************************** */
        /* ***************    ELEMENTOS TITTLE    *************** */
        /* ****************************************************** */ -->

    <header class="cardtittle cardtittle--center">
        <p class="cardtittle__text">SENA SEDE LEMBO</p>
        <a class="cardtittle__enlace" href="../index_main.html">
            <img class="cardtittle__svg-home" src="../../public/img_/svg/home.svg" alt>
        </a>
    </header>
    <!-- 
        /* ****************************************************** */
        /* *************    ELEMENTOS CARD LEFT    ************** */
        /* ****************************************************** */
        -->
    <aside class="cardleft cardleft--mitad">

        <div class="cardleft__body">

            <div class="cardleft__card ">
                <img class="cardleft__header-svg" src="../../public/img_/left_side/logo1.png" alt="" />

                <div class="cardleft__card-details">
                
                  <p class="cardleft__card-title">SU CONTRASEÑA ESTA SEGURA CON NOSOTROS</p>
                  <p class="cardleft__card-text">UN ADMINISTRADOR ENVIARA SU NUEVA CONTRASEÑA</p>
                </div>
                <button class="cardleft__card-button">CONTRASEÑA USO PERSONAL Y UNICO</button>
              </div>
        </div>

    </aside>
    <!-- 
        /* ******************************************************* */
        /* ****************    CARD RIGHT BLOQUE   *************** */
        /* ******************************************************* */ 
        -->
    <main class="cardright cardright--mitad">
        <form class="cardright__form ">
            <p class="cardright__header-form">RECUPERACION DE CONTRASEÑA</p>

            <fieldset class="cardright__body-form">

                <div class="cardright__container-input cardright__container-input--col">
                    <img class="cardleft__header-svg" src="../../public/img_/svg_sena/logo-sena-verde-svg-2022.svg"
                        alt="" />

                    <div class="cardright__subcontainer-input">
                        <label class="cardright__label-form" for="Correo Electronico">Correo Electronico</label>
                        <input class="cardright__input-form " placeholder="Correo electrónico" type="email" />
                    </div>

                    <button class="cardright__botton-primary" type="submit">RECUPERAR</button>
                </div>
                

            </fieldset>
            <div class="cardright__foot-form">
                <p> CAPTURA DE ERRORES</p>
              </div>
        </form>
        <footer class="cardright__footer">
            <a class="cardright__footer" href="./home.html">
                <img class="cardright__svg-footer" src="../../public/img_/svg/control_back.svg" alt>
              </a>    
        </footer>
    <!-- fin de form -->



    </main>

    <script>
 
    </script>


</body>

</html>

