<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Es una pagina con formulario y una ventana de celular"
    />
    <meta
      name="keywords"
      content="sena, risaralda, lembo, gestion, agricola, campecino, produtos, cultivos,"
    />
    <meta
      name="author"
      content="Aprendiz: Erick Ramirez, Aprendiz Aprendiz:Sanchez Hernandez, Aprendiz:Estefani Acevedo"
    />
    <meta http-equiv="Content-Language" content="es" />

    <link rel="stylesheet" href="../css/1-crear-ciclo-actualizando.css" />

    <title>Actualizar Ciclo de Cultivo</title>
  </head>
  <body>
    <!-- ******************  Titulo principal  ****************  -->

    <header class="ciclo__tittle">
      <spam>SENA SEDE LEMBO</spam>
      <a href="../../sgal main (sanchez)/index_main.html">
        <svg
          class="ciclo__ico"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
          <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
          <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
        </svg>
      </a>
    </header>

    <!-- ******************  inicio box1 ****************  -->

    <aside class="cicloLeft">
      <section class="cardLeft__container">
        <img
          class="cicloLeft__logoSena"
          src="/SGL CODE/img/LOGOS SENA/LOGOS SENA/logo-sena-verde-complementario-svg-2022.svg"
          alt="Imagen de Logo Sena"
        />

        <img
          class="cicloLeft__imageMovil"
          src="/SGL CODE/img/movil01.png"
          alt="Imagen de celular  cuadros"
        />

        <img
          class="cicloLeft__logoSgal"
          src="/SGL CODE/img/LogoSgal.png"
          alt="Imagen de Logo Sgal"
        />
      </section>
    </aside>
    <!-- ******************  fin box1 ****************  -->

    <main class="cicloRight">
      <fieldset class="cicloRight__container">
        <h3>ACTUALIZAR CICLO</h3>

        <div class="cicloRight__botones">
          <button class="cicloRight__button" type="submit">
            <a href="../html/3-visualizar-ciclo-actualizando.html">VOLVER</a>
          </button>
        </div>

        <form class="cicloRight__form">
          <div class="ciclo__data-general">
            <label class="cicloRight__label" for="">ID Ciclo Cultivo</label>
            <!-- Se añade nueva clase: dato-idCiclo -->
            <input class="dato-idCiclo" placeholder="Ingrese Dato" type="number" />
          </div>

          <div class="ciclo__data-general">
            <label class="cicloRight__label" for="">Nombre del Ciclo Cultivo</label>
            <!-- Se añade nueva clase: dato-nombreCiclo -->
            <input class="dato-nombreCiclo" placeholder="Ingrese Dato" type="password" />
          </div>

          <div class="ciclo__data-general">
            <label class="cicloRight__label" for="">Novedad</label>
            <!-- Se añade nueva clase: dato-novedad -->
            <input class="dato-novedad" placeholder="Ingrese Dato" type="text" />
          </div>

          <div class="ciclo__data-general">
            <label class="cicloRight__label" for="">Ingrese Tamaño m2</label>
            <!-- Se añade nueva clase: dato-tamanoM2 -->
            <input class="dato-tamanoM2" placeholder="Ingrese Dato" type="number" />
          </div>

          <h2 class="ciclo__toggle-title">Habilitado/Deshabilitadi:</h2>

          <!-- BOTON INDICADOR CAMBIO DE COLOR ESTADO  -->
          <div class="ciclo__data-general">
            <input class="cicloRight__inputbox" type="checkbox" id="boton" />
            <label class="cicloRight__labelChange" for="boton"></label>
          </div>

          <div class="cicloRight__botones">
            <button type="submit" class="cicloRight__button">
              GUARDAR
            </button>
          </div>
        </form>

        <div class="cicloRight__footform">
          <p>VALIDACION DATOS</p>
        </div>
        
      </fieldset>
      <!-- fin de form --> 
    </main>
    <!-- fin box 2 -->
     
    <script>
      fetch("/SGL CODE/Estandarizacion/config.json")
          .then(result => result.json())
          .then(data =>{
              // Crea un elemento script
              const script = document.createElement("script")
              // Asignamos la ruta del script
              script.src = data.validar9;
              // Indica que el script solo se ejecuta cuando el HTML se haya cargado
              script.defer = true;
              // Ponemos el script en el head para que entienda donde va
              document.head.appendChild(script);
          })
          .catch(error => console.log('Error al cargar script'))
    </script>
  </body>
</html>
