<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/MODAL_CREAR.css">
    <!--  ESTE ROOT ES AFUERA DE SGAL AQUI DEBE ESTAR -->
    <link rel="stylesheet" href="../../../root.css">  
    <title>Plantilla Modal Tipo 4</title>
</head>
<body>
    <div class="contenedor">
        <header>
            <h1>
                CICLO CREADO CORRECTAMENTE
            </h1>
        </header>
        <main>
            <a href="/SGL CODE/sgal main (sanchez)/index_main.html" class="botton">IR A HOME</a>
        </main>
        
        <footer></footer>
    </div><!--contenedor-->
   
</body>
</html>