<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Es una pagina con formulario y una ventana de celular"
    />
    <meta
      name="keywords"
      content="sena, risaralda, lembo, gestion, agricola, campecino, produtos, cultivos,"
    />
    <meta
      name="author"
      content="Aprendiz: Erick Ramirez, Aprendiz Aprendiz:Sanchez Hernandez, Aprendiz:Estefani Acevedo"
    />
    <meta http-equiv="Content-Language" content="es" />
<!-- CSS de Choices -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

<!-- JS de Choices -->
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

    <link rel="stylesheet" href="../Css/2-buscar-cultivo.css">
    <script src="/frontend/js/buscar_crops.js"></script>
    <title>Busqueda De Cultivos</title>
  </head>
  <body>
    <!-- ******************  Titulo principal  ****************  -->

    <header class="ciclo_tittle">
      <spam>SENA SEDE LEMBO</spam>
      <a href="/SGL CODE/sgal main (sanchez)/index_main.html">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="32"  height="32"  viewBox="0 0 24 24"  fill="none"  
        stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  
        class="icon-tabler-home"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
      </a>
    </header>

    <!-- ******************  inicio box1 ****************  -->

    <aside class="cicloLeft">
      <section class="cardLeft__container">
        <img
          class="cicloLeft__logoSena"
          src="/SGL CODE/img/LOGOS SENA/LOGOS SENA/logo-sena-verde-complementario-svg-2022.svg"
          alt="Imagen de Logo Sena"
        />

        <img
          class="cicloLeft__imageMovil"
          src="/SGL CODE/img/movil01.png"
          alt="Imagen de celular  cuadros"
        />

        <img
          class="cicloLeft__logoSgal"
          src="/SGL CODE/img/LogoSgal.png"
          alt="Imagen de Logo Sgal"
        />
      </section>
    </aside>
    <!-- ******************  fin box1 ****************  -->
    <main class="cicloRight">
      <fieldset class="cardRight__container">
        <h3>ID Cultivo</h3>

        <form class="cicloRight__form buscar">

          <div class="ciclo__data-general">
            <label for="selectId">Selecciona un cultivo:</label>  <!-- Esto es de js -->
            <select class="selectId"> <!-- Esto es de js -->
              <option value="">Cargando IDs...</option> <!--Esto es de js  -->
            </select>
           
          </div>

         <!-- ESPACIO PARA MAS INPUTS  -->
          </div>
          <div class="botones">
            <button class="button">
              BUSCAR
            </button>
            <!-- <button class="button"><a href="">CANCELAR</a></button> -->
          </div>
        </form>



        <div class="baseform">
          <a href="#"> </a>
        </div>
      </fieldset>
      <!-- fin de form -->

    </main>
   
    
    <!-- fin box 2 -->
</body>
</html>
