<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Es una pagina con formulario y una ventana de celular"
    />
    <meta
      name="keywords"
      content="sena, risaralda, lembo, gestion, agricola, campecino, produtos, cultivos,"
    />
    <meta
      name="author"
      content="Aprendiz: Erick Ramirez, Aprendiz Aprendiz:Sanchez Hernandez, Aprendiz:Estefani Acevedo"
    />
    <meta http-equiv="Content-Language" content="es" />

    <link rel="stylesheet" href="../Css/3-visualizar-cultivo.css">
    <script src="/frontend/js/visualizar_crop.js"></script>
    <title>Visuzalización de Cultivos</title>
  </head>
  <body>
    <!-- ******************  Titulo principal  ****************  -->

    <header class="ciclo_tittle">
      <spam>SENA SEDE LEMBO</spam>
      <a href="/SGL CODE/sgal main (sanchez)/index_main.html">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="32"  height="32"  viewBox="0 0 24 24"  fill="none"  
        stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  
        class="icon-tabler-home"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
      </a>
    
    </header>

    <!-- ******************  inicio cicloLeft ****************  -->

    <aside class="cicloLeft">
      <section class="cardLeft__container">
        <img
          class="cicloLeft__logoSena"
          src="/SGL CODE/img/LOGOS SENA/LOGOS SENA/logo-sena-verde-complementario-svg-2022.svg"
          alt="Imagen de Logo Sena"
        />

        <img
          class="cicloLeft__imageMovil"
          src="/SGL CODE/img/movil01.png"
          alt="Imagen de celular  cuadros"
        />

        <img
          class="cicloLeft__logoSgal"
          src="/SGL CODE/img/LogoSgal.png"
          alt="Imagen de Logo Sgal"
        />
      </section>
    </aside>
    <!-- ******************  fin cicloLeft ****************  -->

    <main class="cicloRight">
      <fieldset class="cardRight__container">
        <h3>VISUALIZAR CULTIVO</h3>

        <form class="cicloRight__form">
          <div class="ciclo__data-general">
            <label class="label" for="">Id del Cultivo</label>
            <input class="ciclo__nameUser" placeholder="Id del Cultivo" type="text" disabled/>
          </div>

          <div class="ciclo__data-general">
            <label class="label" for="">Nombre Del Cultivo</label>
            <input class="ciclo__nameUser" placeholder="Nombre del Cultivo" type="text" disabled/>
          </div>

          <div class="ciclo__data-general">
            <label class="label" for="">Tipo de Cultivo</label>
            <input class="ciclo__email" placeholder="Tipo del Cultivo" type="email" disabled/>
          </div>

          <div class="ciclo__data-general">
            <label class="label" for="">Ubicaciòn</label>
            <input class="ciclo__cellPhone" placeholder="Ubicación del Cultivo" type="tel" disabled/>
          </div>
          <div class="ciclo__data-general">
            <label class="label" for="">Descripción</label>
            <input class="ciclo__cellPhone" placeholder="Descripción del Cultivo" type="tel" disabled/>
          </div>
          <div class="ciclo__data-general">
            <label class="label" for="">Tamaño en m²</label>
            <input class="ciclo__cellPhone" placeholder="Tamaño en m² del cultivo " type="tel" disabled/>
          </div>
          
          <div class="ciclo__data-general">
            <h2 class="text-avatar">Imagen Cultivo</h2>
            <div class="icon"><svg  xmlns="http://www.w3.org/2000/svg"  width="32"  height="32"  viewBox="0 0 24 24"  
                fill="none"  stroke="#BEBEBE"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  
                class="icon icon-tabler icons-tabler-outline icon-tabler-photo-down"><path stroke="none" 
                d="M0 0h24v24H0z" fill="none"/><path d="M15 8h.01" />
                <path d="M12.5 21h-6.5a3 3 0 0 1 -3 -3v-12a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v6.5" />
                <path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l4 4" />
                <path d="M14 14l1 -1c.653 -.629 1.413 -.815 2.13 -.559" /><path d="M19 16v6" />
                <path d="M22 19l-3 3l-3 -3" /></svg></div>

            <div class="icon-box"><!--icon-box-->
                <p class="datos-image">Resoluciòn maxima 200 x 200 px</p>
                <div class="icon-clip"><svg  xmlns="http://www.w3.org/2000/svg"  width="18"  height="18"  
                    viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  
                    stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M15 7l-6.5 6.5a1.5 1.5 0 0 0 3 3l6.5 -6.5a3 3 0 0 0 -6 -6l-6.5 6.5a4.5 4.5 0 0 0 9 9l6.5 -6.5" />
                </svg></div>
            </div><!--icon-box-->
          </div>

            <!-- BOTON INDICADOR CAMBIO DE COLOR ESTADO  -->
            <div class="ciclo__data-general">
              <p class="insumo__toggle-title">Habilitado/Deshabilitado:</p>
              <input class="insumo__estado" type="checkbox" id="boton" disabled/>
              <label class="insumo__labelChange" for="boton"></label>
            </div>
            <!-- ESPACIO PARA MAS INPUTS  -->
            </div>
            <div class="botones">
              <a href="4-actualizar-cultivo.html" class="button">
                Actualizar
              </a>
            <!-- <button class="button"><a href="">CANCELAR</a></button> -->
            </div>

        </form>
        <div class="baseform">
          <a href="#"> </a>
        </div>
      </fieldset>
      <!-- fin de form -->

      <svg
        class="CardRight__svg"
        width="48"
        height="48"
        viewBox="0 0 26 38"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M23 34.7746L11 18.9694L23 3.16406M3 3.16406V34.7746"
          stroke="#00304D"
          stroke-width="5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </main>
  </body>
 </html>  
