<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../sgal main (sanchez)/styles.css">
    <link rel="stylesheet" href="../../root.css">
    <title>Index__Main</title>
</head>
<body>

<header class="BarTop">
        <ul class="Bar__List">
            <li class="Bar__Item">
                <p class="BarTop__linkParag" >Cultivos</p>
                <a class="BarTop__href" href="">
                    <img src="../img/carbon--agriculture-analytics.svg" alt="modulo_Cultivos" class="BarTop__Image">
                </a>
            </li>
            <li class="Bar__Item">
                <p class="BarTop__linkParag" >Insumo</p>
                <a class="BarTop__href" href="">
                    <img src="../img/healthicons--agriculture-outline.svg" alt="modulo_insumo" class="BarTop__Image">
                </a>
            </li>
            <li class="Bar__Item">
                <p class="BarTop__linkParag" >Sensor</p>
                <a class="BarTop__href" href="">
                    <img src="../img/eos-icons--iot.svg" alt="modulo_Sensor" class="BarTop__Image">
                </a>
            </li>
            <li class="Bar__Item">
                <p class="BarTop__linkParag" >Usuarios</p>
                <a class="BarTop__href" href="">
                    <img src="../img/healthicons--agriculture-worker-outline.svg" alt="modulo_Usuarios" class="BarTop__Image">
                </a>
            </li>
        </ul>
</header>

<!-- este nav  MENU  es para desplegar con position fixed absolute -->
<nav class="BarGeneral">
    <!-- Checkbox oculto -->
    <input class="BarGeneral__check" type="checkbox" id="toggle-linksmodulos">

    <!-- Label asociado al checkbox -->
    <label for="toggle-linksmodulos" class="BarGeneral__side">
        <div class="BarGeneral__nombreUser"><h2>ADMIN</h2>
            <h3 class="BarGeneral__titleName" >VLADIMIR PUTIN</h3>
        </div>
        <img class="BarGeneral__Usuario" src="../img/imagen_foto_perfil_github2.jpg" alt="logo sgal">
    </label>
    
    <ul class="BarLinksmodulos">
         
            <h4 class="BarLinksmodulos__title" >MODULO CULTIVO</h4> 
            <a class="BarLinksmodulos__link" href="../sgal cultivos/HTML/1-crear-cultivo.html">CREAR CULTIVO</a>
            <a class="BarLinksmodulos__link" href="../sgal cultivos/HTML/2-buscar-cultivo.html">BUSCAR CULTIVO</a>
            <a class="BarLinksmodulos__link" href="../sgal cultivos/HTML/3-visualizar-cultivo.html">VISUALIZAR CULTIVO</a>
            <a class="BarLinksmodulos__link" href="../sgal cultivos/HTML/5-listar-cultivos.html">LISTAR CULTIVO</a>
            
            
            <h4 class="BarLinksmodulos__title" >MODULO INSUMOS</h4> 
            <a class="BarLinksmodulos__link"  href="../sgal insumos/Html/1-crear-insumo.html">CREAR INSUMOS</a>
            <a class="BarLinksmodulos__link"  href="../sgal insumos/Html/2-buscar-insumo.html">BUSCAR INSUMOS</a>
            <a class="BarLinksmodulos__link"  href="../sgal insumos/Html/3-visualizar-insumo.html">VISUALIZAR INSUMOS</a>
            <a class="BarLinksmodulos__link"  href="../sgal insumos/Html/5-listar-insumos.html">LISTAR INSUMOS</a>
             
                        
            <h4 class="BarLinksmodulos__title" >MODULO CICLO</h4> 
            <a class="BarLinksmodulos__link"  href="../sgal ciclo cultivo/html/1-crear-ciclo-actualizando.html">CREAR CICLO</a>
            <a class="BarLinksmodulos__link"  href="../sgal ciclo cultivo/html/2-buscar-ciclo-actualizando.html">BUSCAR CICLO</a>
            <a class="BarLinksmodulos__link"  href="../sgal ciclo cultivo/html/3-visualizar-ciclo-actualizando.html">VISUALIZAR CICLO</a>
            <a class="BarLinksmodulos__link"  href="../sgal ciclo cultivo/html/4-actualizar-ciclo-actualizando.html">ACTUALIZAR CICLO</a> 
            <a class="BarLinksmodulos__link"  href="../sgal ciclo cultivo/html/5-listar-ciclo.html">LISTAR CICLO</a> 
                        
            <h4 class="BarLinksmodulos__title" id="seccion-usuarios">MODULO USUARIO</h4> 
            <a class="BarLinksmodulos__link"  href="../sgal usuario/Html/1-crear-usuario-acualizado.html">CREAR USUARIO</a>
            <a class="BarLinksmodulos__link"  href="../sgal usuario/Html/2-buscar-usuario.html">BUSCAR USUARIO</a>
            <a class="BarLinksmodulos__link"  href="../sgal usuario/Html/3-visualizar-usuario.html">VISUALIZAR USUARIO</a>
            <a class="BarLinksmodulos__link"  href="../sgal usuario/Html/4-actualizar-usuario.html">ACTUALIZAR USUARIO</a> 
            <a class="BarLinksmodulos__link"  href="../sgal usuario/Html/5-listar-usuarios.html">LISTAR USUARIOS</a> 

            <h4  class="BarLinksmodulos__ventorConfig" >
                <a href=""><img class="Main__svg" src="../img/hugeicons--configuration-01.svg" alt=""></a>
            </h4> 
            <h4 class="BarLinksmodulos__title" ><a class="BarLinksmodulos__link"  href="../sgal home (ek)/index.html">CERRAR SESSION</a></h4> 
    </ul>
</nav>

<main class="sectionContainers">
    <header2 class="sectionContainers__Containertitle">
        <h1  class="sectionContainers__title"><span>SISTEMA DE GESTION AGRICOLA</span></h1>
    </header2>
    
    <section class="sectionContainers__card">
        <h2 class="sectionContainers__cardTitle">MODULO CULTIVO</h2>
        <div class="sectionContainers__cardContent">
           
            <p class="sectionContainers__cardParagraph">En 2022, las exportaciones de café disminuyeron 8% a poco más de 11,4 millones de sacos de 60 kg de café verde frente a los más de 12,4 millones de sacos puestos en los mercados internacionales a lo largo de 2021.
            En diciembre las exportaciones cayeron 12% a poco más de un millón de sacos versus los casi 1,2 millones exportados en el mismo mes de 2021.
                
            </p>
            <img  class="sectionContainers__cardImage" src="../img/cultivos_img.png" alt="Cultivo">
        </div>
    </section>

    <section class="sectionContainers__card">
        <h2 class="sectionContainers__cardTitle">MODULO INSUMOS</h2>
        <div class="sectionContainers__cardContent"> 
            <img   class="sectionContainers__cardImage" src="../img/main02insumos.bmp" alt="Insumos">     
            <div class="">
                <p class="sectionContainers__cardParagraph">
                    Productividad: kilos de CPS / ha café, Rendimiento: kilos de CPS / ha café productivo.
                </p>

                <p class="sectionContainers__cardParagraph">
                    Precio de venta: $ / kilo CPS vendido.
                </p>

                <p class="sectionContainers__cardParagraph">
                    Margen / hectárea: diferencia entre ingresos por ventas de café y costos de producción dividido entre el área total en café.
                </p>

                <p class="sectionContainers__cardParagraph">
                    Costo fertilización / ha: Costo de la fertilización por hectárea productiva (incluye mano de obra e insumos).
                </p>
                <p class="sectionContainers__cardParagraph">
                    Precio fertilizante: precio promedio anual por kilo de fertilizante (tomado del SIPSA- DANE)
                </p>

            </div>
            
        </div>
    </section>

    <section class="sectionContainers__card">
        <h2 class="sectionContainers__cardTitle">MODULO CICLOS</h2>
        <div class="sectionContainers__cardContent">
            <p class="sectionContainers__cardParagraph">
                Lemobo Santa Rosa, febrero 10 de 2025. El Instituto Colombiano Agropecuario, ICA, estableció, las fechas que componen el ciclo de siembra para la temporada de maíz del semestre A y B del presente año, durante el XI Comité Fitosanitario de Maíz en el que asistieron los maiceros, asistentes técnicos, gremios, autoridades gubernamentales de la región.
            </p>
            <img   class="sectionContainers__cardImage" src="../img/main04usuario.bmp" alt="Ciclos">
        </div>
    </section>

    <article class="sectionContainers__card">
        <h2 class="sectionContainers__cardTitle">ELECCIONES DE DELEGADOS COOPCAFER 2023</h2>
        <div class="sectionContainers__cardContent">
            <img   class="sectionContainers__cardImage" src="../img/Article_DelegadoCoop.png" alt="Tema Especial">
            <p class="sectionContainers__cardParagraph">En febrero de 2023 los asociados de la Cooperativa Departamental de Caficultores del Risaralda elegirán a los nuevos delegados que los representarán durante el periodo 2023- 2025, uno de los eventos democráticos más importantes que se realiza cada 3 años en Coopcafer.</p>
            
        </div>
    </article>

    <section class="sectionContainers__card">
        <h2 class="sectionContainers__cardTitle">SENSORES PARA AGRICULTURA DE PRECISION</h2>
        <div class="sectionContainers__cardContent">
            <p class="sectionContainers__cardParagraph">A medida que la poblacion mundial crece, mayores son las necesidad de aliemntacion que se requieren. A causa de ello, los agrcultores necesitan utilizar el espacio fisico para la plantacion con mas eficiencia que nuna, por ello los sensores para agricultura de precision son cada vez mas comunes y por supuesto necesarios. Nota tomada de: https://www.slideshare.net/slideshow/sensores-ag-de-precisionpdf/253372512</p>
            <img   class="sectionContainers__cardImage" src="../img/main03sensor.bmp" alt="Usuarios">
        </div>
    </section>
</main>

<footer class="footer" >
    <!-- Imagen con grafico azul y blanco -->
    <img class="footer__image" src="../img/main05footer.bmp" alt="Grafica fondo azul">
</footer>

</html>