<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Es una pagina con formulario y una ventana de celular" />
    <meta name="keywords" content="sena, risaralda, lembo, gestion, agricola, campecino, produtos, cultivos," />
    <meta name="author"
        content="Aprendiz: Erick Ramirez, Aprendiz Aprendiz:Sanchez Hernandez, Aprendiz:Estefani Acevedo" />
    <meta http-equiv="Content-Language" content="es" />
    <link rel="stylesheet" href="../../public/css/styles-bem.css">

    

    <title>Registrar Ciclo de Cultivos</title>
</head>

<body>
    <!--   
  /* ****************************************************** */
  /* ***************    ELEMENTOS TITTLE    *************** */
  /* ****************************************************** */ -->

    <header class="cardtittle">
        <p class="cardtittle__text">SENA SEDE LEMBO</p>
        <a class="cardtittle__enlace" href="../index_main.html">
            <img class="cardtittle__svg-home" src="../../public/img_/svg/home.svg" alt>
        </a>

    </header>
    <!-- 
  /* ****************************************************** */
  /* *************    ELEMENTOS CARD LEFT    ************** */
  /* ****************************************************** */
  -->
    <aside class="cardleft">
        <section class="cardleft__container">
            <img class="cardleft__logo-sena"
                src="../../public/img_/svg_sena/logo-sena-verde-complementario-svg-2022.svg"
                alt="Imagen de Logo Sena" />

            <img class="cardleft__img" src="../../public/img_/left_side/movil01.png" alt="Imagen de celular  cuadros" />

            <img class="cardleft__logo-sgal" src="../../public/img_/left_side/LogoSgal.png" alt="Imagen de Logo Sgal" />
        </section>
    </aside>
    <!-- 
  /* ******************************************************* */
  /* ****************    CARD RIGHT BLOQUE   *************** */
  /* ******************************************************* */ 
  -->
    <main class="cardright">
        <form class="cardright__form cardright__form--top3">
            <p class="cardright__header-form">CREAR CICLO CULTIVO</p>

            <fieldset class="cardright__body-form">

                <div class="cardright__container-input">

                    <div class="cardright__subcontainer-input">
                        <label class="cardright__label-form" for="">Nombre del Ciclo Cultivo</label>
                        <!-- Se añade nueva clase: nuevo-nombreCiclo -->
                        <input class="cardright__input-form cardright__input-form--name" placeholder="Ej : Fase de crecimiento" type="text" />
                    </div>

                    <div class="cardright__subcontainer-input">
                        <label class="cardright__label-form" for="">Descripción</label>
                        <!-- Se añade nueva clase: nuevo-novedad -->
                        <input class="cardright__input-form cardright__input-form--description" placeholder="Ej : Creciendo rapidamente" type="text" />
                    </div>

                    <div class="cardright__subcontainer-input">

                       

                        <div class="cardright__subcontainer-input--row">
                            <label class="cardright__label-form" for="">Periodo</label>
                            <!-- Se añade nueva clase: nuevo-tamanoM2 -->
                            <input class="cardright__input-form--date cardright__input-form--date-start" placeholder="Inicio de Periodo" type="date" />
                            <input class="cardright__input-form--date cardright__input-form--date-end" placeholder="Fin de Periodo" type="date" />
                        </div>

                    </div>

                    <div class="cardright__subcontainer-input">
                        <label class="cardright__label-form" for="">Novedad</label>
                        <!-- Se añade nueva clase: nuevo-novedad -->
                        <input class="cardright__input-form cardright__input-form--news" placeholder="Ej : Hojas Opacas" type="text" />
                    </div>

                    <!-- BOTON INDICADOR CAMBIO DE COLOR ESTADO  -->
                    <div class="cardright__subcontainer-input">
                        <label for="toggle-color" class="cardright__label-form--checkbox"></label>

                        <label class="cardright__label-form cardright__label-form--checkbox" for="boton">Habilitado/Deshabilitado:</label>
                        <input class="cardright__input-form" type="checkbox" id="toggle-color" checked />

                    </div>
                </div>
                <button class="cardright__botton-primary" type="submit">CREAR</button>
            </fieldset>

            <div class>
                <button class="cardright__botton-secundary" type="submit"><a href>CANCELAR</a></button>
            </div>

            <div class="cardright__foot-form">
                
            </div>

        </form>
        <!-- fin de form -->

        <a class="cardright__footer" href="../index_main.html">
            <img class="cardright__svg-footer" src="../../public/img_/svg/control_back.svg" alt>
        </a>

    </main>
<script src="/frontend/js/CropCycle/validar_CropCycle.js"></script>
<script src="/frontend/js/auth/session_auth.js"></script>

</body>

</html>