<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/1-modal-cargar-imagen-sensor.css">
    <!-- <link rel="stylesheet" href="../root.css"> -->
    <title>Modal Carcar Imagen</title>
</head>
<body>
    <div class="contenedor">
        <header>
            <h1>
                ACTUALIZAR IMAGEN SENSOR
            </h1>
        </header>
        <main>
            <div class="contenido">
                <h2>Ruta imagen *.jpg *.png </h2>
                <input type="text" placeholder="c:user/" class="input">
            </div>
            

        </main>
        <div class="container-box">
            <button type="button" class="button"><a href="">ACEPTAR</a></button>
            <button type="button" class="button"><a href="">CANCELAR</a></button>
          </div>
        <footer><h2></h2></footer>
    </div><!--contenedor-->
   
</body>
</html>