<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ESTANDAR TIPO 3</title>
  <link rel="stylesheet" href="root.css">
  <link rel="stylesheet" href="../Css/6-reporte-sensores.css">
  <link rel="stylesheet" href="../Css/menu2.css">
</head>
<body>
  <div class="sensores__container sensores__container--blue">
    <div class="sensores__sidebar">
      <div class="sensores__profile">
        <div class="sensores__profile-text">
          <a href=""><p class="sensores__profile-name">Se Busca <br> Recmpenza</p></a>
        </div>
        <a class="sensores__avatar" href=""><img src="/SGL CODE/img/imagen_foto_perfil_github.jpg" alt="Foto de perfil" class="sensores__profile-photo"></a>
      </div>
      <nav class="sensores__menu">
        <div class="sensores__menu-section">
          <h3 class="sensores__menu-section-title">Sensores</h3>
          <ul class="sensores__menu-list">
            <li class="sensores__menu-item"><a href="#" class="sensores__menu-link">Crear</a></li>
            <li class="sensores__menu-item"><a href="#" class="sensores__menu-link">Listar</a></li>
            <li class="sensores__menu-item"><a href="#" class="sensores__menu-link">Actualizar</a></li>
            <li class="sensores__menu-item"><a href="#" class="sensores__menu-link">Visualizar</a></li>
          </ul>
        </div>
        <div class="sensores__menu-section">
          <h3 class="sensores__menu-section-title">Insumos</h3>
          <ul class="sensores__menu-list">
            <li class="sensores__menu-item"><a href="#" class="sensores__menu-link">Crear</a></li>
            <li class="sensores__menu-item"><a href="#" class="sensores__menu-link">Listar</a></li>
            <li class="sensores__menu-item"><a href="#" class="sensores__menu-link">Actualizar</a></li>
            <li class="sensores__menu-item"><a href="#" class="sensores__menu-link">Visualizar</a></li>
          </ul>
        </div>
        <div class="sensores__menu-section">
          <h3 class="sensores__menu-section-title">Usuarios</h3>
          <ul class="sensores__menu-list">
            <li class="sensores__menu-item"><a href="#" class="sensores__menu-link">Crear</a></li>
            <li class="sensores__menu-item"><a href="#" class="sensores__menu-link">Listar</a></li>
            <li class="sensores__menu-item"><a href="#" class="sensores__menu-link">Actualizar</a></li>
            <li class="sensores__menu-item"><a href="#" class="sensores__menu-link">Visualizar</a></li>
          </ul>
        </div>
        <div class="sensores__menu-section">
          <h3 class="sensores__menu-section-title">Configuración</h3>
          <ul class="sensores__menu-list">
            <li class="sensores__menu-item"><a href="#" class="sensores__menu-link">Datos Usuario</a></li>
            <li class="sensores__menu-item"><a href="#" class="sensores__menu-link">Control Cuenta</a></li>
          </ul>
        </div>
        <div class="sensores__menu-section">
          <h3 class="sensores__menu-section-title"><a href="#">Reportes</a></h3>
        </div>
        <div class="sensores__menu-section">
          <h3 class="sensores__menu-section-title"><a href="#">Cerrar Sesión</a></h3>
        </div>
      </nav>
      <div class="sensores__logo-container">
        <img class="sensores__logo sensores__logo--sena" src="/SGL CODE/img/LOGOS SENA/LOGOS SENA/logo-sena-negro-png-2022.png" alt="">
      </div>
    </div>
    <!-- Fin sidebar -->

    <div class="sensores__main">
      <div class="sensores__content">
        <div class="sensores__report">
          <header class="sensores__report-header">
            <h2 class="sensores__report-title">REPORTE SENSOR ID</h2>
          </header>
          <div class="sensores__report-body">
            <h3 class="sensores__report-subtitle">Datos del Sensor Id Sensor</h3>
            <hr class="sensores__report-line" />
            <br />
            <p class="sensores__report-paragraph">
              <span>Lectura :</span><span> Contador 1</span><span>Fecha :</span><span>Abril 2023</span>
            </p>
            <p class="sensores__report-paragraph">
              <span>Lectura :</span><span> Contador 1</span><span>Fecha :</span><span>Abril 2023</span>
            </p>
            <p class="sensores__report-paragraph">
              <span>Lectura :</span><span> Contador 1</span><span>Fecha :</span><span>Abril 2023</span>
            </p>
            <p class="sensores__report-paragraph">
              <span>Lectura :</span><span> Contador 1</span><span>Fecha :</span><span>Abril 2023</span>
            </p>
            <p class="sensores__report-paragraph">
              <span>Lectura :</span><span> Contador 1</span><span>Fecha :</span><span>Abril 2023</span>
            </p>
            <p class="sensores__report-paragraph">
              <span>Lectura :</span><span> Contador 1</span><span>Fecha :</span><span>Abril 2023</span>
            </p>
            <p class="sensores__report-paragraph">
              <span>Lectura :</span><span> Contador 1</span><span>Fecha :</span><span>Abril 2023</span>
            </p>
            <p class="sensores__report-paragraph">
              <span>Lectura :</span><span> Contador 1</span><span>Fecha :</span><span>Abril 2023</span>
            </p>
            <hr>
          </div>
          <footer class="sensores__report-footer"></footer>
        </div>
        <div class="sensores__pagination">
          <span>
            <a class="sensores__pagination-number" href="#">1</a>
          </span>
          <span class="sensores__pagination-separator">de</span>
          <span>
            <a class="sensores__pagination-number" href="#">1</a>
          </span>
        </div>
      </div>
      <a class="sensores__back" href="">&lt;</a>
    </div>
    <!-- Fin contenedor general gris -->
  </div>
  <!-- Fin contenedor general azul -->
</body>
</html>
