<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listar Usuario</title>
  <link rel="stylesheet" href="../Css/styles-users.css">
</head>
<body>
  <main class="usuario__container usuario__container--blue"><!-- contenedor-azul -->
    <div class="usuario__sidebar">
      <div class="usuario__profile">
        <div class="usuario__profile-text">
          <a href=""><p class="usuario__profile-name">Santiago <br> Admin</p></a>
        </div>
        <a href=""><img src="/SGL CODE/img/imagen_foto_perfil_github.jpg" alt="Foto de perfil" class="usuario__profile-photo"></a>
      </div>
      <nav class="usuario__menu">
        <div class="usuario__menu-section">
          <h3 class="usuario__menu-section-title">Sensores</h3>
          <ul class="usuario__menu-list">
            <li class="usuario__menu-item"><a href="#" class="usuario__menu-link">Crear</a></li>
            <li class="usuario__menu-item"><a href="#" class="usuario__menu-link">Listar</a></li>
            <li class="usuario__menu-item"><a href="#" class="usuario__menu-link">Actualizar</a></li>
            <li class="usuario__menu-item"><a href="#" class="usuario__menu-link">Visualizar</a></li>
          </ul>
        </div>
        <div class="usuario__menu-section">
          <h3 class="usuario__menu-section-title">Insumos</h3>
          <ul class="usuario__menu-list">
            <li class="usuario__menu-item"><a href="#" class="usuario__menu-link">Crear</a></li>
            <li class="usuario__menu-item"><a href="#" class="usuario__menu-link">Listar</a></li>
            <li class="usuario__menu-item"><a href="#" class="usuario__menu-link">Actualizar</a></li>
            <li class="usuario__menu-item"><a href="#" class="usuario__menu-link">Visualizar</a></li>
          </ul>
        </div>
        <div class="usuario__menu-section">
          <h3 class="usuario__menu-section-title">Usuarios</h3>
          <ul class="usuario__menu-list">
            <li class="usuario__menu-item"><a href="/SGL CODE/sgal usuario/Html/1-crear-usuario-acualizado.html" class="usuario__menu-link">Crear</a></li>
            <li class="usuario__menu-item"><a href="/SGL CODE/sgal usuario/Html/5-listar-usuarios.html" class="usuario__menu-link">Listar</a></li>
            <li class="usuario__menu-item"><a href="/SGL CODE/sgal usuario/Html/4-actualizar-usuario.html" class="usuario__menu-link">Actualizar</a></li>
            <li class="usuario__menu-item"><a href="/SGL CODE/sgal usuario/Html/2-buscar-usuario.html" class="usuario__menu-link">Visualizar</a></li>
          </ul>
        </div>
        <div class="usuario__menu-section">
          <h3 class="usuario__menu-section-title">Configuración</h3>
          <ul class="usuario__menu-list">
            <li class="usuario__menu-item"><a href="#" class="usuario__menu-link">Datos Usuario</a></li>
            <li class="usuario__menu-item"><a href="#" class="usuario__menu-link">Control Cuenta</a></li>
          </ul>
        </div>
        <div class="usuario__menu-section">
          <h3 class="usuario__menu-section-title"><a href="#">Reportes</a></h3>
        </div>
        <div class="usuario__menu-section">
          <h3 class="usuario__menu-section-title"><a href="#">Cerrar Sesión</a></h3>
        </div>
      </nav>
    </div>

    <div class="usuario__main">
      <div class="usuario__content">
        <header class="usuario__toolbar">
          <section class="usuario__toolbar-section">
            <div class="usuario__action">
              <a href="#">Añadir</a>
            </div>
            <div class="usuario__action">
              <a href="#">Borrar</a>
            </div>
            <div class="usuario__action">
              <a href="#">Modificar</a>
            </div>
            <div class="usuario__action usuario__action--with-icon">
              <a href="#">Listar</a>
              <div class="usuario__action-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#00304d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-printer">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2"/>
                  <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4"/>
                  <path d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z"/>
                </svg>
              </div>
            </div>
          </section>
          <section class="usuario__toolbar-section">
            <div class="usuario__action">
              <label><a href="#">Ordenar</a>
                <select>
                  <option value=""></option>
                </select>
              </label>
            </div>
            <button class="usuario__search-button"><a href="#">Buscar</a></button>
            <input class="usuario__search-input" type="text" name="text" id="text" placeholder="Texto">
          </section>
        </header>

        <table class="usuario__table">
          <thead>
            <tr>
              <td class="usuario__table-header-cell usuario__table-header-cell--icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-square">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"/>
                </svg>
              </td>
              <td class="usuario__table-header-cell">ID Usuario</td>
              <td class="usuario__table-header-cell">Tipo de Usuario</td>
              <td class="usuario__table-header-cell">Nombre Completo del Usuario</td>
              <td class="usuario__table-header-cell">Estado</td>
              <td class="usuario__table-header-cell">Imagen</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="usuario__table-data-cell usuario__table-data-cell--icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-square">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"/>
                </svg>
              </td>
              <td class="usuario__table-data-cell usuario__table-data-cell--secondary">Fila Datos</td>
              <td class="usuario__table-data-cell usuario__table-data-cell--secondary">Fila Datos</td>
              <td class="usuario__table-data-cell usuario__table-data-cell--secondary">Fila Datos</td>
              <td class="usuario__table-data-cell usuario__table-data-cell--secondary">Fila Datos</td>
              <td class="usuario__table-data-cell usuario__table-data-cell--secondary">Fila Datos</td>
            </tr>
            <!-- Se repiten más filas con la misma estructura -->
            <tr>
              <td class="usuario__table-data-cell usuario__table-data-cell--icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-square">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"/>
                </svg>
              </td>
              <td class="usuario__table-data-cell usuario__table-data-cell--secondary">Fila Datos</td>
              <td class="usuario__table-data-cell usuario__table-data-cell--secondary">Fila Datos</td>
              <td class="usuario__table-data-cell usuario__table-data-cell--secondary">Fila Datos</td>
              <td class="usuario__table-data-cell usuario__table-data-cell--secondary">Fila Datos</td>
              <td class="usuario__table-data-cell usuario__table-data-cell--secondary">Fila Datos</td>
            </tr>
            <!-- Más filas según sea necesario -->
            <tr>
              <td class="usuario__table-data-cell--last">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-square">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"/>
                </svg>
              </td>
              <td class="usuario__table-data-cell">Fila Datos</td>
              <td class="usuario__table-data-cell">Fila Datos</td>
              <td class="usuario__table-data-cell">Fila Datos</td>
              <td class="usuario__table-data-cell">Fila Datos</td>
              <td class="usuario__table-data-cell">Fila Datos</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>


  
  <script>
    fetch("/SGL CODE/Estandarizacion/config.json")
        .then(result => result.json())
        .then(data =>{
            //Crea un elemento sript
            const script = document.createElement("script")
            //Asignamos la ruta del srcipt
            script.src = data.validar2; // ⬅️ cambiar nombre del json aqui
            //Indica que el sript solo se ejecuta cuando el html solo se haya cargado
            script.defer = true;
            //Ponemos el script en el head para que entienda donde va
            document.head.appendChild(script);
        })
        .catch(error => console.log('Error al cargar script'))
</script>
</body>
</html>

</body>
</html>
